@font-face {
    font-family: 'ABCMaxiRoundVariable-Trial';
    src: url('ABCMaxiRoundVariable-Trial.woff2') format('woff2'),
        url('ABCMaxiRoundVariable-Trial.woff') format('woff');
        font-style: normal;
        font-weight: normal;
        font-display: swap;
}

@font-face {
    font-family: 'ABCFavoritEdu-Regular';
    src: url('ABCFavoritEdu-Regular.woff2') format('woff2'),
        url('ABCFavoritEdu-Regular.woff') format('woff');
        font-style: normal;
        font-weight: normal;
        font-display: swap;
}

:root {
    --font: 'ABCMaxiRoundVariable-Trial', sans-serif;
    --caption-font: 'ABCFavoritEdu-Regular', sans-serif;
}

body {
    display: flex;
    margin: 2em;
    background-color: rgb(14, 14, 14);
    color: white;
    font-family: var(--font);
}

#left {
    background-color: rgb(31, 31, 31);
    padding: 1em;
    border-radius: 0.5em;
    width: max-content;
    max-width: 25vw;
}

h2 {
    font-size: 32px;
    font-weight: lighter;
}

p {
    color: rgb(120, 119, 119);
    font-family: var(--caption-font);
    margin-bottom: -5px;
    margin-top: 15px;
}

#artistImage {
    width: 20vw;
    object-fit: cover;
    margin-top: 1em;
    border-radius: 0.25em;
}

#container {
    width: 800px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 11em;
}

#ripple2, #ripple3 {
    width: 86%;
    /* transform: scaleX(100%); */
    margin: -0.5em;
}

#ripple1, #ripple4 {
    width: 63%;
    /* transform: scaleX(100%); */
}