@font-face {
    font-family: 'ABCMarfa-Medium-Trial';
    src: url('WOFF/ABCMarfa-Medium-Trial.woff2') format('woff2'),
        url('WOFF/ABCMarfa-Medium-Trial.woff') format('woff');
        font-style: normal;
        font-weight: normal;
        font-display: swap;
}
:root {
    --font: 'ABCMarfa-Medium-Trial', sans-serif;
}

body {
    background-color: #F0FF48;
    font-family: var(--font);
}

header {
    margin: 2em 4em;
    display: flex;
}

h1 {
    font-size: 48px;
    width: 30%;
}

h2 {
    font-size: 24px;
    width: 40%;
}

main {
    height: 1080px;
    width: 1080px;
    /* display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto; */
}

#cards {
    width: 100%;
    /* display: flex;
    justify-content: space-evenly;
    flex-direction: column; 
    align-items: center; */
    /* gap: 4rem;
    padding: 4rem; */
}

.card {
    width: 683px;
    height: 540px;
    /* border: 2px solid black; */
    border-radius: 15px;
    left: 405px;
}

.cover-card {
    background-color: #F6F6F6;
    position: absolute;
    margin: 0 auto;
    /* border: 2px solid black; */
    border-radius: 12px;
    z-index: 2;
    cursor: pointer;
    padding: 3em 2em;
}

.card-fader {
    position: absolute;
    z-index: 1;
  }

.card-fader:nth-child(odd) {
    animation: fade-left 2s linear infinite;
  }

  .card-fader:nth-child(even) {
    animation: fade-right 2s linear infinite;
  }

  .card-fader:is(:nth-child(3), :nth-child(4)) {
    animation-delay: 500ms;
  }

  .card-fader:is(:nth-child(5), :nth-child(6)) {
    animation-delay: 1000ms;
  }

  .card-fader:is(:nth-child(7), :nth-child(8)) {
    animation-delay: 1500ms;
  }

  .card:hover .card-faders {
    opacity: 1;
  }

.wireframe-text {
    background-color: #cdcdcd;
    height: 24px;
    margin: 15px 48px;
    border-radius: 5px;
}

.wireframe-text:last-child {
    width: 40%;
}

#wireframe-h1 {
    height: 56px;
}

h3 {
    font-size: 5em;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 5em;
    color: #cdcdcd;
}

@keyframes fade-right {
    from {
        scale: 1;
        translate: 0%;
        background-color: #B4B97B;
        opacity: 1;
    }
    to {
        scale: 0.8;
        translate: 80%;
        background-color: #525532;
        opacity: 0;
    }
}

@keyframes fade-left {
    from {
        scale: 1;
        translate: 0%;
        background-color: #B4B97B;
        opacity: 1;
    }
    to {
        scale: 0.8;
        translate: -80%;
        background-color: #525532;
        opacity: 0;
    }
}