.scent {
    height: 108px;
    width: 192px;
    background-color: rgb(255, 255, 255);
    position: relative;
    background-image: url('perfumeMask.png');
    z-index: 3;
}

.dots {
  width: auto;
  background: black;
  mask-image: url('mGDot.svg');
  /* -webkit-mask-image: url('mGDot.svg'); */
  mix-blend-mode:multiply;
  position:absolute;
  transform: rotate(20deg);
  transition: 200ms;
  z-index: 0;
}

img {
  aspect-ratio: 1.64;
  width: 40px;
}